.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 1000;
}

.modal.show {
    opacity: 1;
    pointer-events: visible;
}

.modal.enter-done {
    opacity: 1;
    pointer-events: visible;
}

.modal.exit {
    opacity: 0;
}

.modal-content {
    width: 400px;
    border-radius: 10px;
    background-color: #ffffff;
    transform: translateY(0200px);
    transition: all 0.3s ease-in-out;
}

.modal.show .modal-content {
    transform: translateY(0);
    text-align: center;
}

.modal-header, .modal-footer {
    padding: 20px;
}

.modal-title {
    font-size: 25px;
}

.modal-body {
    padding: 0;
}

button {
    border: 0;
    color: dimgray;
    background-color: aquamarine;
    padding: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #fac4ca;
    color: white;
}